/* style.css */

/* define css variables for colors and gradients */
:root {
    --gradient: linear-gradient(
      180deg,
      rgba(191, 180, 143, 0.73) 0%,
      #564e58 100%
    ); /* Adjusted gradient */
    --erie-black: #252627; 
    --ecru: #bfb48f; 
    --ecru-border: rgba(191, 180, 143, 0.75); 
    --ecru-light: #f2efe9; 
    --wenge: #564e58; 
    --cordovan: #904e55;
    --ecru: #bfb48f; 
    --isabelline: #f2efe9;
  }
  
  
  /* set up body styling with background, layout, and alignment */
  body {
    background: var(--gradient);
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  
  /* button styling for add task button */
  .btn {
    color: var(--isabelline);
    font-size: 1.1rem;
    padding: 0.7rem 1.5rem;
    border-radius: 0.3rem;
    background-color: var(--cordovan);
    border: none;
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }
  
  /* reset margin for text elements */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }
  
  /* styling for the todo container */
  .todo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 2rem;
    background: var(--isabelline);
    padding: 3rem;
    height: 50%;
    width: 60%;
    box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
    max-width: 30rem;
  }
  
  /* todo heading styling */
  h2 {
    text-transform: uppercase;
    height: 3rem;
    color: var(--erie-black);
    text-align: center;
  }
  
  /* input field styling */
  .input {
    position: relative;
    display: flex;
  }
  
  .input-field {
    width: 100%;
    border: 0.06rem solid var(--ecru-border);
    border-radius: 0.5rem;
    padding: 1.25rem;
    font-size: 1rem;
  }
  
  /* placeholder text color for input field */
  input[type="text"]::placeholder {
    color: var(--ecru);
  }
  
  /* styling for individual todo items */
  .todo-container {
    display: flex;
    gap: 1rem;
  }
  
  /* list styling */
  ul {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
  }
  
  li {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.3rem;
  }
  
  /* todo list items styling */
  #todoList p {
    display: flex;
    gap: 1rem;
    color: var(--erie-black);
    align-items: center;
  }
  
  #todoList .disabled {
    color: var(--wenge);
  }
  
  /* disabled task styling */
  .disabled {
    display: flex;
    text-decoration: line-through;
  }
  
  /* checkbox styling */
  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  /* unchecked checkbox styling */
  input[type="checkbox"]::before {
    content: "\2713";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    border: 0.06rem solid var(--ecru-border);
    border-radius: 50%;
    color: transparent;
  }
  
  /* checked checkbox styling */
  input[type="checkbox"]:checked::before {
    color: var(--isabelline);
    background-color: var(--ecru);
    border: 0.06rem solid var(--ecru);
    border-radius: 50%;
  }
  
  /* counter border styling */
  .counter {
    border: 0.06rem solid var(--ecru-light);
  }
  
  /* container for counter and its buttons */
  .counter-container {
    height: 2rem;
    display: flex;
    justify-content: space-between;
    color: var(--ecru);
  }
  
  .counter-container p {
    align-self: center;
  }
  
  .counter-container button {
    border: none;
    background-color: transparent;
    color: var(--ecru);
    font-size: 1rem;
  }
  
  /* footer styling */
  .footer {
    display: flex;
    gap: 1.8rem;
    background-color: var(--isabelline);
    padding: 1.2rem;
    border-radius: 0.5rem;
  }
  
  /* footer text styling */
  .made-by,
  .author {
    font-size: 0.9rem;
  }
  
  .made-by {
    color: var(--wenge);
  }
  
  .author {
    color: var(--cordovan);
    font-weight: bold;
  }
  
  /* styling for scrollable areas */
  .scroll {
    height: 15rem;
    scrollbar-width: thin;
  }
  
  .scroll::-webkit-scrollbar {
    width: 0.6rem;
  }
  
  .scroll::-webkit-scrollbar-thumb {
    background-color: var(--cordovan);
    border-radius: 0.5rem;
  }
  
  .scroll::-webkit-scrollbar-track {
    display: none;
  }
  